body {
  background-color: rgb(36, 36, 36);
  color: black;
}

titlebarfaq {
  float: left;
  text-align: center;
  padding: 40px;
  width: 100%;
  background-color: rgb(36, 36, 36);
  height: 300px;
  color: white;
}

.fixed-bg3{
  background-image: url("../images/water.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.QAphoto {
  background-image: url("../images/fishing.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: fill;
}

.faqbody{
  background-color: rgb(243, 224, 190);
  width: 100%;
  text-align: center;
  height: 700px;

}