* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292b2c;
  /* For browsers that do not support gradients */
}

/*background image in the title*/
.fixed-bg {
  background-image: url("../images/pole.jpg");
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {}

article {
  width: 100%;
  background-color: #292b2c;
  min-height: 500px;
  font-size: xx-large;

}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}


footer{
  min-height: 150px;
  text-align: center;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.navbar {
  min-height: 110px;
}

.navbar-brand {
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}