* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(42, 41, 62);
  /* For browsers that do not support gradients */
}

/*background image in the title*/
.fixed-bg {
  background-image: url("../images/pole.jpg");
  min-height: 750px;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg2 {
  background-image: url("../images/fishing2.jpg");
  min-height: 750px;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the header */
header {
  background-color: rgb(42, 41, 62);
  font-size: 120px;
  color: rgb(243, 224, 190);
  height: 210px;
}

#mainTitle{
  padding: 16px;
  margin: auto;
}

table {
  width: 100%;
  color: #f1f1f1;
}

picture {
  text-align: center;
  font-size: 50px;
  color: rgb(243, 224, 190);
  height: 600px;
}

titlebar {
  text-align: center;
  font-size: 50px;
  color: rgb(243, 224, 190);
}

h2{
  color: rgb(243, 224, 190);
}

article {
  width: 100%;
  background-color: rgb(159, 156, 153);
  height: 600px;
  font-size: large;
  
}

footbar {
  float: right;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: rgb(121, 123, 58);
  height: 600px;
  color: rgb(159, 156, 153);
  /* only for demonstration, should be removed */
}

footer{
  background-color: rgb(42, 41, 62);
  color: rgb(243, 224, 190);
}

/* Style the footer */
#footerInfo {
  background-color: #111;
  padding: 30px;
  text-align: center;
  color: rgb(42, 41, 62);
  font-size: x-large;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}

/* side bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(42, 41, 62);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
