.mySlides {display:none}

body{
    background-color: rgb(243, 224, 190);
}

[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

  .initiallyHidden { display: none; }
